[SERVICE]
    Flush        60
    Daemon       Off
    Log_Level    info
    Parsers_File parsers.conf
    storage.path /var/log/fluentbit-buffer

# ==========================================
# INPUTS E OUTPUTS - SISTEMA OPERACIONAL
# ==========================================
[INPUT]
    Name        tail
    Path        /var/log/syslog
    Tag         so_syslog
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem

[INPUT]
    Name        tail
    Path        /var/log/auth.log
    Tag         so_auth.log
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem

[INPUT]
    Name        tail
    Path        /var/log/dpkg.log
    Tag         so_dpkg.log
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem

[INPUT]
    Name        tail
    Path        /var/log/kern.log
    Tag         so_kern.log
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem

[OUTPUT]
    Name                  s3
    Match                 so_*
    endpoint              https://gr7swnp1wj0e.compat.objectstorage.sa-saopaulo-1.oraclecloud.com
    bucket                backups
    region                sa-saopaulo-1
    s3_key_format         /servidores/{{ nome_servidor }}/so/logs/%Y/%m/%d/$TAG[1]-%Y-%m-%d_$UUID.gz
    s3_key_format_tag_delimiters _
    store_dir             /var/log/fluentbit-buffer/so
    upload_timeout        24h
    total_file_size       200M
    compression           gzip


{% if aplicacoes is defined %}

# ==========================================
# GERAÇÃO DINÂMICA DE APLICAÇÕES
# ==========================================

{% for app in aplicacoes %}

{% if app.tipo_app == 'rails' %}
# --- Aplicativo Rails: {{ app.id_bucket }} ---
[INPUT]
    Name         tail
    Path         /home/ubuntu/AdAlive-Apps/{{ app.nome_pasta }}/AdAliveServer/{{ app.log_principal }}
    Tag          {{ app.id_bucket }}.rails
    Read_from_Head True
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem

[OUTPUT]
    Name             s3
    Match            {{ app.id_bucket }}.rails
    endpoint         https://gr7swnp1wj0e.compat.objectstorage.sa-saopaulo-1.oraclecloud.com
    bucket           backups
    region           sa-saopaulo-1
    s3_key_format    /aplicacoes/{{ nome_servidor }}/{{ app.id_bucket }}/logs/%Y/%m/%d/{{ app.log_principal }}.%Y-%m-%d_$UUID.gz
    store_dir        /var/log/fluentbit-buffer/{{ app.id_bucket }}-rails
    upload_timeout   24h
    total_file_size  500M
    compression      gzip

{% elif app.tipo_app == 'tomcat' %}
# --- Aplicativo Tomcat: {{ app.id_bucket }} (Catalina) ---
[INPUT]
    Name         tail
    Path         {{ app.caminho_base | default('/home/ubuntu') }}/{{ app.nome_pasta }}/logs/catalina*
    Tag          {{ app.id_bucket }}.catalina
    Read_from_Head True
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem
    Ignore_Older 2d

[OUTPUT]
    Name             s3
    Match            {{ app.id_bucket }}.catalina
    endpoint         https://gr7swnp1wj0e.compat.objectstorage.sa-saopaulo-1.oraclecloud.com
    bucket           backups
    region           sa-saopaulo-1
    s3_key_format    /aplicacoes/{{ nome_servidor }}/{{ app.id_bucket }}/logs/%Y/%m/%d/catalina.%Y-%m-%d_$UUID.gz
    store_dir        /var/log/fluentbit-buffer/{{ app.id_bucket }}-catalina
    upload_timeout   24h
    total_file_size  500M
    compression      gzip

# --- Aplicativo Tomcat: {{ app.id_bucket }} (Access Log) ---
[INPUT]
    Name         tail
    Path         {{ app.caminho_base | default('/home/ubuntu') }}/{{ app.nome_pasta }}/logs/localhost_access_log*
    Tag          {{ app.id_bucket }}.access
    Read_from_Head True
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem
    Ignore_Older 2d

[OUTPUT]
    Name             s3
    Match            {{ app.id_bucket }}.access
    endpoint         https://gr7swnp1wj0e.compat.objectstorage.sa-saopaulo-1.oraclecloud.com
    bucket           backups
    region           sa-saopaulo-1
    s3_key_format    /aplicacoes/{{ nome_servidor }}/{{ app.id_bucket }}/logs/%Y/%m/%d/localhost_access_log.%Y-%m-%d_$UUID.gz
    store_dir        /var/log/fluentbit-buffer/{{ app.id_bucket }}-access
    upload_timeout   24h
    total_file_size  500M
    compression      gzip

{% endif %}
{% endfor %}
{% endif %}


{% if perfil_apache | default(false) | bool %}
# ==========================================
# INPUTS E OUTPUTS - APACHE
# ==========================================
[INPUT]
    Name        tail
    Path        /var/log/apache2/error.log
    Tag         apache_error.log
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem

[INPUT]
    Name        tail
    Path        /var/log/apache2/other_vhosts_access.log
    Tag         apache_other_vhosts_access.log
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem

[OUTPUT]
    Name                  s3
    Match                 apache_*
    endpoint              https://gr7swnp1wj0e.compat.objectstorage.sa-saopaulo-1.oraclecloud.com
    bucket                backups
    region                sa-saopaulo-1
    s3_key_format         /servidores/{{ nome_servidor }}/apache/logs/%Y/%m/%d/$TAG[1]-%Y-%m-%d_$UUID.gz
    s3_key_format_tag_delimiters _
    store_dir             /var/log/fluentbit-buffer/apache
    upload_timeout        24h
    total_file_size       200M
    compression           gzip
{% endif %}