[SERVICE]
    Flush        60
    Daemon       Off
    Log_Level    info
    Parsers_File parsers.conf

# === COLETA DE LOGS (INPUTS) ===

# Logs da Aplicação (AdAlive - Rails)
[INPUT]
    Name         tail
    Path         /home/ubuntu/AdAlive-Apps/AdAlive-doTerrahmlg/AdAliveServer/rails_server_doterrahmlg.log
    Tag          aplicacoes.*
    Read_from_Head True

# Logs do Sistema (Syslog)
[INPUT]
    Name         tail
    Path         /var/log/syslog
    Tag          servidores.so.*

# === ENVIO PARA OCI OBJECT STORAGE (OUTPUTS) ===

# Envio dos logs da Aplicação
[OUTPUT]
    Name             s3
    Match            aplicacoes.*
    Bucket           backups
    Region           sa-saopaulo-1
    Endpoint         https://gr7swnp1wj0e.compat.objectstorage.sa-saopaulo-1.oraclecloud.com
    
    # CORRIGIDO: Adicionado _%H%M%S no final do nome do arquivo para evitar sobrescrita a cada hora
    S3_Key_Format    /aplicacoes/{{ nome_servidor }}/logs/%Y/%m/%d/rails_server_doterrahmg_%H%M%S.log.gz
    Compression      gzip
    
    Store_Dir        /var/log/fluentbit-buffer/app

    upload_timeout   1h
    total_file_size  200M

# Envio dos logs do SO
[OUTPUT]
    Name         s3
    Match        servidores.so.*
    Bucket       backups
    Region       sa-saopaulo-1
    Endpoint     https://gr7swnp1wj0e.compat.objectstorage.sa-saopaulo-1.oraclecloud.com
    # Formato do caminho no bucket para servidores/so
    S3_Key_Format /servidores/{{ nome_servidor }}/so/logs/%Y/%m/$UUID.log.gz
    Compression  gzip
    Store_Dir    /var/log/fluentbit-buffer/so