[SERVICE]
    Flush        60
    Daemon       Off
    Log_Level    info
    Parsers_File parsers.conf
    storage.path /var/log/fluentbit-buffer

# ==========================================
# INPUTS E OUTPUTS - SISTEMA OPERACIONAL
# ==========================================
[INPUT]
    Name        tail
    Path        /var/log/syslog
    Tag         so_syslog
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem

[INPUT]
    Name        tail
    Path        /var/log/auth.log
    Tag         so_auth.log
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem

[INPUT]
    Name        tail
    Path        /var/log/dpkg.log
    Tag         so_dpkg.log
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem

[INPUT]
    Name        tail
    Path        /var/log/kern.log
    Tag         so_kern.log
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem

{% if aplicacoes is defined %}

# ==========================================
# GERAÇÃO DINÂMICA DE APLICAÇÕES
# ==========================================

{% for app in aplicacoes %}

{% if app.tipo_app == 'rails' %}
# --- Aplicativo Rails: {{ app.id_bucket }} ---
[INPUT]
    Name         tail
    Path         /home/ubuntu/AdAlive-Apps/{{ app.nome_pasta }}/AdAliveServer/{{ app.log_principal }}
    Tag          {{ app.id_bucket }}.rails
    Read_from_Head True
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem

{% elif app.tipo_app == 'tomcat' %}
# --- Aplicativo Tomcat: {{ app.id_bucket }} (Catalina) ---
[INPUT]
    Name         tail
    Path         {{ app.caminho_base | default('/home/ubuntu') }}/{{ app.nome_pasta }}/logs/catalina*
    Tag          {{ app.id_bucket }}.catalina
    Read_from_Head True
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem
    Ignore_Older 2d

# --- Aplicativo Tomcat: {{ app.id_bucket }} (Access Log) ---
[INPUT]
    Name         tail
    Path         {{ app.caminho_base | default('/home/ubuntu') }}/{{ app.nome_pasta }}/logs/localhost_access_log*
    Tag          {{ app.id_bucket }}.access
    Read_from_Head True
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem
    Ignore_Older 2d

{% endif %}
{% endfor %}
{% endif %}


{% if perfil_apache | default(false) | bool %}
# ==========================================
# INPUTS E OUTPUTS - APACHE
# ==========================================
[INPUT]
    Name        tail
    Path        /var/log/apache2/error.log
    Tag         apache_error.log
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem

[INPUT]
    Name        tail
    Path        /var/log/apache2/other_vhosts_access.log
    Tag         apache_other_vhosts_access.log
    Buffer_Chunk_Size 5M
    Buffer_Max_Size   20M
    storage.type      filesystem

{% endif %}